<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
    Tooth Colored Fillings
    </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/Cosmetic Dentistry.jpg" style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
    A <b>filling </b> <i>helps to restore a tooth damaged by decay back to its normal
     function and shape, and helps prevent further decay by eliminating
      areas where bacteria can enter the tooth</i>. Your dentist will consider
       a number of factors when choosing which type of filling material is
        best for you; this includes the extent of the repair, whether you
         have allergies to certain dental materials, where in your mouth
          the filling is needed and the cost.
  </p>
  <p class="content">There are various types of fillings available
     including:</p>

  <ul class="content">
    <li>
      <b><u>Composite Fillings</u> : </b>A composite resin filling <i>is
       made from a mixture of plastic and fine glass particles and
       matches the color of the tooth</i>. Thus, composite fillings are
       used most often on front teeth or the visible parts of the tooth.
        Composite fillings bond directly to the tooth, reducing the
         drilling needed (like for a amalgam filling) and<i> they are stronger
          than amalgam fillings</i>>.
    </li><br><br>
    <li>
      <b><u>Ceramic Fillings  </u>: </b>Ceramic fillings are made of porcelain and
       are tooth colored, so they look natural.<i> Ceramic fillings are more
        brittle than composite resin and can break but they are also more
         resistant to staining</i>>. Ceramic fillings are expensive, and can
          cost as much or more than gold fillings.
    </li><br><br>
    <li>
      <b><u>Glass Ionomer</u> :</b>Glass Ionomer fillings are <i>made from
      acrylic and fluoroaluminosilicate, a component of glass</i>>. This
      type of filling is very strong and most often used in people with a
       lot of decay in the part of the tooth that extends below the gum.
       It is also used for filling baby teeth.
    </li><br><br>

  </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" >  Tooth Colored</h1>
  <h1 class="mobheading" >Fillings</h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/Cosmetic Dentistry.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    A <b>filling </b> <i>helps to restore a tooth damaged by decay back to its normal
      function and shape, and helps prevent further decay by eliminating
       areas where bacteria can enter the tooth</i>. Your dentist will consider
        a number of factors when choosing which type of filling material is
         best for you; this includes the extent of the repair, whether you
          have allergies to certain dental materials, where in your mouth
           the filling is needed and the cost.  </p>
  <h2 class="mobcontent">There are various types of fillings available including:</h2>
    <ul class="mobcontent">
      <li>
        <b><u>Composite Fillings</u> : </b>A composite resin filling <i>is
         made from a mixture of plastic and fine glass particles and
         matches the color of the tooth</i>. Thus, composite fillings are
         used most often on front teeth or the visible parts of the tooth.
          Composite fillings bond directly to the tooth, reducing the
           drilling needed (like for a amalgam filling) and<i> they are stronger
            than amalgam fillings</i>>.
      </li><br><br>
      <li>
        <b><u>Ceramic Fillings  </u>: </b>Ceramic fillings are made of porcelain and
         are tooth colored, so they look natural.<i> Ceramic fillings are more
          brittle than composite resin and can break but they are also more
           resistant to staining</i>>. Ceramic fillings are expensive, and can
            cost as much or more than gold fillings.
      </li><br><br>
      <li>
        <b><u>Glass Ionomer</u> :</b>Glass Ionomer fillings are <i>made from
        acrylic and fluoroaluminosilicate, a component of glass</i>>. This
        type of filling is very strong and most often used in people with a
         lot of decay in the part of the tooth that extends below the gum.
         It is also used for filling baby teeth.
      </li><br><br>
</ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
