<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
    Tooth whitening
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\ToothWhitening.jpg"
   style="height: 300px; width: 500px;">
</section>
<section class="bigcontent">
  <p class="content">
    The process of <b>tooth whitening</b> <i> lightens the colour of a tooth.</i>
     Tooth whitening can be achieved by either changing the intrinsic
     colour or by removing and controlling the formation of extrinsic
     stains. The chemical degradation of the chromogens within or on the
     tooth is termed as bleaching.<br>
    <b> Hydrogen peroxide (H2O2)</b> is the active ingredient most commonly used in
      whitening products and is delivered as either hydrogen peroxide or
       carbamide peroxide.Hydrogen peroxide is analogous to carbamide
       peroxide as it is released when the stable complex is in contact
        with water. When it diffuses into the tooth, hydrogen peroxide
        acts as an oxidising agent that breaks down to produce unstable
         free radicals. In the spaces between the inorganic salts in tooth
          enamel, these unstable free radicals attach to organic pigment
           molecules resulting in small, less heavily pigmented components.
           Reflecting less light, these smaller molecules create a
            "whitening effect".<br> There are different products available on the
            market to remove stains. For whitening treatment to be successful,
             dental professionals should correctly diagnose the type,
             intensity and location of the tooth discolouration.
             Time exposure and the concentration of the bleaching
            compound, determines the tooth whitening endpoint.

</p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
  Tooth whitening
    </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\ToothWhitening.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    The process of <b>tooth whitening</b> <i> lightens the colour of a tooth.</i>
    Tooth whitening can be achieved by either changing the intrinsic
    colour or by removing and controlling the formation of extrinsic
    stains. The chemical degradation of the chromogens within or on the
    tooth is termed as bleaching.<br><br>
   <b> Hydrogen peroxide (H2O2)</b> is the active ingredient most commonly used in
     whitening products and is delivered as either hydrogen peroxide or
      carbamide peroxide.Hydrogen peroxide is analogous to carbamide
      peroxide as it is released when the stable complex is in contact
       with water. When it diffuses into the tooth, hydrogen peroxide
       acts as an oxidising agent that breaks down to produce unstable
        free radicals. In the spaces between the inorganic salts in tooth
         enamel, these unstable free radicals attach to organic pigment
          molecules resulting in small, less heavily pigmented components.
          Reflecting less light, these smaller molecules create a
           "whitening effect".<br> <br>There are different products available on the
           market to remove stains. For whitening treatment to be successful,
            dental professionals should correctly diagnose the type,
            intensity and location of the tooth discolouration.
            Time exposure and the concentration of the bleaching
           compound, determines the tooth whitening endpoint.

    </p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
