<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Cosmetic Dentistry</h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/Cosmetic Dentistry.jpg" style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
    If your teeth are stained, discolored, worn, chipped, broken, misaligned,
     misshapen, or have gaps between them, modern cosmetic dentistry can give
      you a better smile. A <b>“smile makeover”</b> <i>improves the appearance of your
      smile through one or more cosmetic dentistry procedures</i>. Cosmetic
      dentists work with you to develop a treatment plan.
  </p>
  <h2 class="headbig"> Types of Cosmetic Dentistry</h2>

  <ul class="content">
    <li>
      <b><u>Teeth Whitening</u></b>Teeth whitening can be one of the simplest and
      least expensive ways to improve your smile.<i> Teeth can be bleached with
      in-office products in your dentist’s office</i> or you can buy a mold and
       gels from your dentist to bleach your teeth at home. There are also
       whitening products available over the counter at retail stores for
       convenient at-home whitening: whitening toothpastes, rinses, and
       whitestrips.
    </li><br>
    <li>
      <b><u>Dental Veneers</u></b> Dental veneers are<i> wafer-thin, custom-made shells
      of tooth-colored porcelain or resin that cover the front surface of the
       teeth</i>. Veneers are often called <b>"<u>Hollywood teeth</u>"</b>.
    </li><br>
    <li>
      <b><u>Dental Bonding</u></b><i> In dental bonding, a tooth-colored, putty-like resin,</i>>
      which is a durable plastic material, is applied to the tooth and hardened
       with an ultraviolet or laser light, bonding the material to the tooth.
        Your dentist then trims, shapes, and polishes it. <i>Bonding can repair
        decayed, chipped, cracked, or misshapen teeth; it is also a good cosmetic
         alternative to, or replacement for, amalgam or silver fillings.</i>
    </li><br>
    <li>
      <b><u>Dental Crown</u></b> Adental crown, <i>also called a cap, fits over and replaces
       the entire decayed or damaged tooth above the gum line, restoring its shape,
        size, strength, and appearance.</i> <b>Crowns </b>keep a weak tooth from breaking or
         hold a cracked tooth together;<i> they can be used cosmetically to cover
         misshapen or severely discolored teeth. Crowns can be made from metal,
          porcelain-fused-to-metal, resin, or ceramic.</i>
    </li><br>
    <li>
      <b><u>Inlays and Onlays</u></b> Inlays and onlays, also called<b> indirect fillings,
       are made from gold, porcelain, or composite materials and fill decayed or
       damaged teeth</b>. <i>Dental fillings are molded into place during an office visit
       ; however, inlays and onlays are created in a dental laboratory and bonded
        into place by your dentist</i>. The <b>filling is called an “inlay” when the
        material is bonded within the center of a tooth</b>.; it is called an “onlay”
         when the filling includes one or more points of the tooth or covers the
         biting surface. Inlays and onlays preserve as much healthy tooth as
          possible and are an alternative to crowns.
    </li><br>
  </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" >Cosmetic Dentistry</h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/Cosmetic Dentistry.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    If your teeth are stained, discolored, worn, chipped, broken, misaligned,
     misshapen, or have gaps between them, modern cosmetic dentistry can give
      you a better smile. A “smile makeover” improves the appearance of your
      smile through one or more cosmetic dentistry procedures. Cosmetic dentists
      work with you to develop a treatment plan.
  </p>
  <h2 class="submobheading"> Types of Cosmetic Dentistry</h2>
    <ul class="mobcontent">
      <li>
        <b><u>Teeth Whitening</u></b>Teeth whitening can be one of the simplest and
        least expensive ways to improve your smile.<i> Teeth can be bleached with
        in-office products in your dentist’s office</i> or you can buy a mold and
         gels from your dentist to bleach your teeth at home. There are also
         whitening products available over the counter at retail stores for
         convenient at-home whitening: whitening toothpastes, rinses, and
         whitestrips.
      </li><br>
      <li>
        <b><u>Dental Veneers</u></b> Dental veneers are<i> wafer-thin, custom-made shells
        of tooth-colored porcelain or resin that cover the front surface of the
         teeth</i>. Veneers are often called <b>"<u>Hollywood teeth</u>"</b>.
      </li><br>
      <li>
        <b><u>Dental Bonding</u></b><i> In dental bonding, a tooth-colored, putty-like resin,</i>>
        which is a durable plastic material, is applied to the tooth and hardened
         with an ultraviolet or laser light, bonding the material to the tooth.
          Your dentist then trims, shapes, and polishes it. <i>Bonding can repair
          decayed, chipped, cracked, or misshapen teeth; it is also a good cosmetic
           alternative to, or replacement for, amalgam or silver fillings.</i>
      </li><br>
      <li>
        <b><u>Dental Crown</u></b> Adental crown, <i>also called a cap, fits over and replaces
         the entire decayed or damaged tooth above the gum line, restoring its shape,
          size, strength, and appearance.</i> <b>Crowns </b>keep a weak tooth from breaking or
           hold a cracked tooth together;<i> they can be used cosmetically to cover
           misshapen or severely discolored teeth. Crowns can be made from metal,
            porcelain-fused-to-metal, resin, or ceramic.</i>
      </li><br>
      <li>
        <b><u>Inlays and Onlays</u></b> Inlays and onlays, also called<b> indirect fillings,
         are made from gold, porcelain, or composite materials and fill decayed or
         damaged teeth</b>. <i>Dental fillings are molded into place during an office visit
         ; however, inlays and onlays are created in a dental laboratory and bonded
          into place by your dentist</i>. The <b>filling is called an “inlay” when the
          material is bonded within the center of a tooth</b>.; it is called an “onlay”
           when the filling includes one or more points of the tooth or covers the
           biting surface. Inlays and onlays preserve as much healthy tooth as
            possible and are an alternative to crowns.
      </li><br>
    </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
