<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
   Dental Jewellery
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\dentaljewellery.jpeg"
   style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
    <b>Tooth jewellery</b>, a cosmetic dental procedure where a diamond or
      a stone is attached to the teeth is gaining utmost importance with
       increasing awareness among people. Tooth Gems and Dazzlers are
        the different types of tooth jewel available in the market . </p>

  <p class="content">
    <b>Tooth Gems</b> include<i> Skyce and Sapphire crystals, both are high quality
     tooth jewels</i>, but Skyce put an <i>extra sparkle into every smile with
     its clear crystals whereas Sapphire possesses white or blue crystals</i>.
      Dazzlers are the tooth jewels which are specially designed to be
       bonded to the tooth with its patented backside like an orthothontic
        bracket which makes them lasts longer.
        <br><br><i> Twinkles are pure gold with
         precious stones like diamond, sapphires and rubies</i>. Dental
          crystals are glass mounted on a thin foil of aluminium to
          establish an attractive smile although the bonding here is
           not as durable as in tooth gems, but can easily last for
            six months.<b>A variety of shapes are available in the market
            like diamond, star, triangle, droplet, heart and round shape.</b>
    </p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
  Dental Jewellery
  </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\dentaljewellery.jpeg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    <b>Tooth jewellery</b>, a cosmetic dental procedure where a diamond or
    a stone is attached to the teeth is gaining utmost importance with
     increasing awareness among people. Tooth Gems and Dazzlers are
      the different types of tooth jewel available in the market . </p>


  <p class="mobcontent">
    <b>Tooth Gems</b> include<i> Skyce and Sapphire crystals, both are high quality
      tooth jewels</i>, but Skyce put an <i>extra sparkle into every smile with
      its clear crystals whereas Sapphire possesses white or blue crystals</i>.
       Dazzlers are the tooth jewels which are specially designed to be
        bonded to the tooth with its patented backside like an orthothontic
         bracket which makes them lasts longer.<br><br>
         <i> <b>Twinkles </b>are pure gold with
          precious stones like diamond, sapphires and rubies</i>. Dental
           crystals are glass mounted on a thin foil of aluminium to
           establish an attractive smile although the bonding here is
            not as durable as in tooth gems, but can easily last for
             six months.<b>A variety of shapes are available in the market
             like diamond, star, triangle, droplet, heart and round shape.</b>
    </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
