<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Impacted Teeth Removal </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/impact.jpg" style="height: 450px; width: 900px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Impacted Teeth Removal?</h2>
  <p class="content">
    While sometimes the teeth grow into a jaw that is large enough to accommodate them,
    most people do not have ample room for their wisdom teeth, causing impacted wisdom teeth.
    That’s because most of us have room for approximately 28 teeth, which is how many you have before your wisdom teeth come in.
    Wisdom teeth, otherwise known as your third molars, are the last teeth to grow in and often arrive between the age of 17 and 25.
    <br>They serve no purpose as our diet today consists of softer foods and we have the ability to cut food into small pieces
    we can easily chew. Often the wisdom teeth either fail to come through in proper alignment or they fail to emerge all the way
    through the gumline. This causes the impacted wisdom teeth that are trapped between the gum tissue and jawbone.

  </p>
  <br /><br />

  <h2 class="headbig">Impacted Wisdom Teeth Symptoms</h2>
  <p class="content">Since you don’t really need wisdom teeth, you may not care if you keep your wisdom teeth. Unfortunately,
    in most cases, impacted wisdom teeth don’t go unnoticed.</p>
    <ul>
      <li>  Swelling and Infection </li>
      <li>  Tooth pain </li>
      <li>  Reduced mouth opening  </li>
      <li>  Radiating pain </li>
    </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Impacted Teeth Removal </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/impact.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Impacted Teeth Removal?</h2>
  <p class="mobcontent">
    While sometimes the teeth grow into a jaw that is large enough to accommodate them,
    most people do not have ample room for their wisdom teeth, causing impacted wisdom teeth.
    That’s because most of us have room for approximately 28 teeth, which is how many you have before your wisdom teeth come in.
    Wisdom teeth, otherwise known as your third molars, are the last teeth to grow in and often arrive between the age of 17 and 25.
    <br><br>They serve no purpose as our diet today consists of softer foods and we have the ability to cut food into small pieces
    we can easily chew. Often the wisdom teeth either fail to come through in proper alignment or they fail to emerge all the way
    through the gumline. This causes the impacted wisdom teeth that are trapped between the gum tissue and jawbone.

  </p>
   <h2 class="submobheading">Impacted Wisdom Teeth Symptoms</h2>
  <p class="mobcontent">Since you don’t really need wisdom teeth, you may not care if you keep your wisdom teeth. Unfortunately,
    in most cases, impacted wisdom teeth don’t go unnoticed.</p>
    <ul>
      <li>  Swelling and Infection </li>
      <li>  Tooth pain </li>
      <li>  Reduced mouth opening  </li>
      <li>  Radiating pain </li>
    </ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
