<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Pediatric Dentistry</h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/pediatric.jpg" style="height: 450px; width: 700px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Pediatric Dentist?</h2>
  <p class="content">
    <b>Pediatric dentists </b> are dedicated to the oral health of children from infancy through the teen years.
    They have the experience and qualifications to care for a child’s teeth, gums, and
    mouth throughout the various stages of childhood.
    <br>Children begin to get their baby teeth during the first 6 months of life. By age 6 or 7 years, t
    hey start to lose their first set of teeth, which eventually are replaced by secondary, permanent teeth.
    Without proper dental care, children face possible oral decay and disease that can cause a lifetime of pain and complications.
    Today, early childhood dental caries—an infectious disease—is 5 times more common in children than asthma and
    7 times more common than hay fever.
  </p>
  <br /><br />

  <h2 class="headbig">What Types of Treatments Do Pediatric Dentists Provide?</h2>
  <p class="content">Pediatric dentists provide comprehensive oral health care that includes the following:</p>
 <ul class="content">
  <li>  	Infant oral health exams, which include risk assessment for caries in mother and child  </li>
  <li>  	Preventive dental care including cleaning and fluoride treatments, as well as nutrition and diet recommendations  </li>
  <li>  	Habit counseling (for example, pacifier use and thumb sucking)  </li>
  <li>  	Early assessment and treatment for straightening teeth and correcting an improper bite (orthodontics)  </li>
  <li>  	Repair of tooth cavities or defects</li>
  <li>  	Diagnosis of oral conditions associated with diseases such as diabetes, congenital heart defect, asthma, hay fever, and attention deficit/ hyperactivity disorder </li>
  <li>  	Management of gum diseases and conditions including ulcers, short frenulae, mucoceles, and pediatric periodontal disease</li>
  <li>  	Care for dental injuries (for example, fractured, displaced, or knocked-out teeth) </li>

</ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Pediatric Dentistry  </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/pediatric.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Pediatric Dentist?</h2>
  <p class="mobcontent">
   <b>Pediatric dentists </b> are dedicated to the oral health of children from infancy through the teen years.
    They have the experience and qualifications to care for a child’s teeth, gums, and
    mouth throughout the various stages of childhood.
    <br><br>Children begin to get their baby teeth during the first 6 months of life. By age 6 or 7 years, t
    hey start to lose their first set of teeth, which eventually are replaced by secondary, permanent teeth.
    Without proper dental care, children face possible oral decay and disease that can cause a lifetime of pain and complications.
    Today, early childhood dental caries—an infectious disease—is 5 times more common in children than asthma and
    7 times more common than hay fever.
  </p>
   <h2 class="submobheading">What Types of Treatments Do Pediatric Dentists Provide?</h2>
  <p class="mobcontent">Pediatric dentists provide comprehensive oral health care that includes the following:</p>
        <ul class="content">
          <li>  	Infant oral health exams, which include risk assessment for caries in mother and child  </li>
          <li>  	Preventive dental care including cleaning and fluoride treatments, as well as nutrition and diet recommendations  </li>
          <li>  	Habit counseling (for example, pacifier use and thumb sucking)  </li>
          <li>  	Early assessment and treatment for straightening teeth and correcting an improper bite (orthodontics)  </li>
          <li>  	Repair of tooth cavities or defects</li>
          <li>  	Diagnosis of oral conditions associated with diseases such as diabetes, congenital heart defect, asthma, hay fever, and attention deficit/ hyperactivity disorder </li>
          <li>  	Management of gum diseases and conditions including ulcers, short frenulae, mucoceles, and pediatric periodontal disease</li>
          <li>  	Care for dental injuries (for example, fractured, displaced, or knocked-out teeth) </li>
        </ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
