<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Orthodontics </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/orthodontics.jpeg" style="height: 450px; width: 900px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Orthodontics?</h2>
  <p class="content">
   <b>Orthodontics</b>  is the branch of dentistry that corrects teeth and jaws that are positioned improperly.
    Crooked teeth and teeth that do not fit together correctly are harder to keep clean,
    are at risk of being lost early due to tooth decay and periodontal disease, and
    cause extra stress on the chewing muscles that can lead to headaches, TMJ syndrome and neck, shoulder and back pain.
    Teeth that are crooked or not in the right place can also detract from one's appearance.
    <br>
    The benefits of orthodontic treatment include a healthier mouth,
    a more pleasing appearance, and teeth that are more likely to last a lifetime.

  </p>
  <br /><br />

  <h2 class="headbig">How do I Know if I Need Orthodontics?</h2>
  <p class="content">Only your dentist or orthodontist can determine whether you can benefit from orthodontics.
    Based on diagnostic tools that include a full medical and dental health history, a clinical exam,
    plaster models of your teeth, and special X-rays and photographs, an orthodontist or dentist can decide
    whether orthodontics are recommended, and develop a treatment plan that's right for you.</p>
  <h2 class="headbig">If you have any of the following, you may be a candidate for orthodontic treatment</h2>
 <ul class="content">
  <li>  <b>Overbite</b> sometimes called "buck teeth" — where the upper front teeth lie too far forward (stick out) over the lower teeth  </li>
  <li>  <b>Underbite</b> — a "bulldog" appearance where the lower teeth are too far forward or the upper teeth too far back </li>
  <li>  <b>Crossbite</b> — when the upper teeth do not come down slightly in front of the lower teeth when biting together normally  </li>
  <li>  <b>Open bite</b> — space between the biting surfaces of the front and/or side teeth when the back teeth bite together </li>
  <li>  <b>Misplaced midline</b>— when the center of your upper front teeth does not line up with the center of your lower front teeth</li>
  <li>  <b>Spacing</b> — gaps, or spaces, between the teeth as a result of missing teeth or teeth that do not "fill up" the mouth </li>
  <li>  <b>Crowding</b> — when there are too many teeth for the dental ridge to accommodate</li>
</ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Orthodontics </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/orthodontics.jpeg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Orthodontics?</h2>
  <p class="mobcontent">
    <b>Orthodontics</b>  is the branch of dentistry that corrects teeth and jaws that are positioned improperly.
    Crooked teeth and teeth that do not fit together correctly are harder to keep clean,
    are at risk of being lost early due to tooth decay and periodontal disease, and
    cause extra stress on the chewing muscles that can lead to headaches, TMJ syndrome and neck, shoulder and back pain.
    Teeth that are crooked or not in the right place can also detract from one's appearance.
    <br><br>
    The benefits of orthodontic treatment include a healthier mouth,
    a more pleasing appearance, and teeth that are more likely to last a lifetime.
  </p>
   <h2 class="submobheading">How do I Know if I Need Orthodontics?</h2>
  <p class="mobcontent">Only your dentist or orthodontist can determine whether you can benefit from orthodontics.
    Based on diagnostic tools that include a full medical and dental health history, a clinical exam,
    plaster models of your teeth, and special X-rays and photographs, an orthodontist or dentist can decide
    whether orthodontics are recommended, and develop a treatment plan that's right for you.</p>
   <h2 class="submobheading">If you have any of the following, you may be a candidate for orthodontic treatment</h2>
        <ul class="content">
          <li>  <b>Overbite</b> sometimes called "buck teeth" — where the upper front teeth lie too far forward (stick out) over the lower teeth  </li>
          <li>  <b>Underbite</b> — a "bulldog" appearance where the lower teeth are too far forward or the upper teeth too far back </li>
          <li>  <b>Crossbite</b> — when the upper teeth do not come down slightly in front of the lower teeth when biting together normally  </li>
          <li>  <b>Open bite</b> — space between the biting surfaces of the front and/or side teeth when the back teeth bite together </li>
          <li>  <b>Misplaced midline</b>— when the center of your upper front teeth does not line up with the center of your lower front teeth</li>
          <li>  <b>Spacing</b> — gaps, or spaces, between the teeth as a result of missing teeth or teeth that do not "fill up" the mouth </li>
          <li>  <b>Crowding</b> — when there are too many teeth for the dental ridge to accommodate</li>
        </ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
