<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
    Full Mouth rehabilitation
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\Full Mouth Rehabilitation.jpeg"
   style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
    <b>Full mouth rehabilitation</b> <i> refers to rebuilding and/or replacing all
      of the teeth in a patient’s mouth</i>. Full mouth rehabilitations combine
       esthetics with the science of restorative dentistry to improve the
        health, function, and beauty of the mouth.  </p>

  <h2 class="headbig"> Who Requires a Full Mouth rehabilitation?</h2>
  <p class="content">
    There are a number of people who have dental problems throughout
    their mouths that must be treated comprehensively with a vision
     of a final result that improves both function and esthetics.
     <i> These patients may exhibit multiple missing teeth, numerous
      teeth with large fillings that are failing or exhibiting decay,
      cracked or broken teeth, or badly worn teeth due to bruxism
      (teeth grinding) or other habits</i>.There is also a group of
      patients who were born with conditions such as<b> Ectodermal
       Dysplasia, Ameliogenesis, or Dentinogenisis Imperfecta</b>
       that will need extensive restoration of their teeth. These
        patients may be candidates for a full mouth rehabilitation.
    </p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
  Full Mouth
  </h1>
  <h1 style="line-height: 1px;padding-bottom: 40px;" class="mobheading" >
    rehabilitation
    </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\Full Mouth Rehabilitation.jpeg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    <b>Full mouth rehabilitation</b> <i> refers to rebuilding and/or replacing all
     of the teeth in a patient’s mouth</i>. Full mouth rehabilitations combine
      esthetics with the science of restorative dentistry to improve the
       health, function, and beauty of the mouth.
  </p>
  <h2 class="submobheading"> Who Requires a Full Mouth rehabilitation?</h2>

  <p class="mobcontent">
    There are a number of people who have dental problems throughout
     their mouths that must be treated comprehensively with a vision
      of a final result that improves both function and esthetics.
      <i> These patients may exhibit multiple missing teeth, numerous
       teeth with large fillings that are failing or exhibiting decay,
       cracked or broken teeth, or badly worn teeth due to bruxism
       (teeth grinding) or other habits</i>.There is also a group of
       patients who were born with conditions such as <b>Ectodermal
        Dysplasia, Ameliogenesis, or Dentinogenisis Imperfecta</b>
        that will need extensive restoration of their teeth. These
         patients may be candidates for a full mouth rehabilitation.
    </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
