<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Crown and Bridges </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/crown bridge.jpg" style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a crown?</h2>
  <p class="content">
    A crown is basically a manufactured tooth.
    It’s generally made of porcelain or ceramic that can be color and texture-matched to your existing teeth.
    A crown can also be made of gold alloys for improved strength when replacing a back tooth.
    Often a metal crown will have porcelain bonded to the exterior to give it strength and a natural look.
  </p>
  <br /><br />

  <h2 class="headbig">How is a crown fitted?</h2>
 <p class="content"> Crowns are used when an existing tooth is damaged, fractured or weakened.
   The tooth is filed down and reshaped into a smaller size.
   Any decay is removed and the tooth structure is restored to support the crown.
   The crown fits like a cap over the newly shaped tooth and is cemented into position.</p>

  <h2 class="headbig">What is a bridge?</h2>
  <p class="content">
    A bridge is a prosthetic appliance that replaces missing teeth.
    Bridges are usually made of porcelain fused to metal in order to achieve both strength and a natural look.
  </p>
  <br />

  <h2 class="headbig">How is a bridge fitted?</h2>
  <p class="content">
    A bridge consists of false teeth rigidly attached between two crowns.
    The teeth on either side of the gap are prepared for these crowns and the bridge is cemented into place.
    In some cases, it’s possible to use implants to replace the missing teeth rather than using the existing teeth.
    Once a bridge is cemented into position, it looks and works just like natural teeth.
  </p>
  <br /><br />
  <h2 class="headbig">Crown and bridge care</h2>
  <p class="content">
    Once your crown or bridge is fitted, it’s important to maintain a regular and effective routine of oral hygiene. Brush and floss two to three times a day, taking extra care to floss around your crown. This will help avoid decay where the crown and the tooth join. Avoid sticky foods such as toffee and lollies, and do not use your teeth inappropriately – chewing pens, crunching ice, gnawing fingernails, etc.
    <br>A dental floss threader, which looks like a small bendy brush, can be used to clean under your bridge. There are also water jets on the market that will help keep your bridge clean.
    <br>Whether you have a crown or a bridge, the most important thing is to regularly visit your dentist for a checkup and clean. This way problems can be detected early, allowing them to be corrected before they become painful and expensive.

  </p>
  <br /><br />
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Crown and Bridges  </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/crown bridge.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a crown?</h2>
  <p class="mobcontent">
    A crown is basically a manufactured tooth.
    It’s generally made of porcelain or ceramic that can be color and texture-matched to your existing teeth.
    A crown can also be made of gold alloys for improved strength when replacing a back tooth.
    Often a metal crown will have porcelain bonded to the exterior to give it strength and a natural look.
  </p>
   <h2 class="submobheading">How is a crown fitted?</h2>
    <p class="mobcontent"> Crowns are used when an existing tooth is damaged, fractured or weakened.
      The tooth is filed down and reshaped into a smaller size.
      Any decay is removed and the tooth structure is restored to support the crown.
      The crown fits like a cap over the newly shaped tooth and is cemented into position.</p>

      <h2 class="submobheading">What is a bridge?</h2>
      <p class="mobcontent"> A bridge is a prosthetic appliance that replaces missing teeth.
        Bridges are usually made of porcelain fused to metal in order to achieve both strength and a natural look.</p>

      <h2 class="submobheading">How is a bridge fitted?</h2>
    <p class="mobcontent"> CA bridge consists of false teeth rigidly attached between two crowns.
      The teeth on either side of the gap are prepared for these crowns and the bridge is cemented into place.
      In some cases, it’s possible to use implants to replace the missing teeth rather than using the existing teeth.
      Once a bridge is cemented into position, it looks and works just like natural teeth.</p>
      <h2 class="submobheading">Crown and bridge care</h2>
    <p class="mobcontent"> Crowns are used when an existing tooth is damaged, fractured or weakened.
      Once your crown or bridge is fitted, it’s important to maintain a regular and effective routine of oral hygiene. Brush and floss two to three times a day, taking extra care to floss around your crown. This will help avoid decay where the crown and the tooth join. Avoid sticky foods such as toffee and lollies, and do not use your teeth inappropriately – chewing pens, crunching ice, gnawing fingernails, etc.
      <br><br>A dental floss threader, which looks like a small bendy brush, can be used to clean under your bridge. There are also water jets on the market that will help keep your bridge clean.
      <br><br>Whether you have a crown or a bridge, the most important thing is to regularly visit your dentist for a checkup and clean. This way problems can be detected early, allowing them to be corrected before they become painful and expensive.
  </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
