<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Patient Education  </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/patient education.jpg" style="height: 450px; width: 900px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Patient education?</h2>
  <p class="content">
    <b>Patient education </b>is the process by which health professionals and others impart information to patients and
    their caregivers that will alter their health behaviors or improve their health status.

    <br>Education may be provided by any healthcare professional who has undertaken appropriate training education,
    education on patient communication and education is usually included in the healthcare professional's training.

    <br>Health education is also a tool used by managed care plans, and
    may include both general preventive education or health promotion and disease or condition specific education.
    <br>Important elements of patient education are skill building and responsibility: patients need to know when, how,
    and why they need to make a lifestyle change. Group effort is equally important:
    each member of the patient’s health care team needs to be involved.
    It can also help the patients by a better lifestyle, it give them the ability to learn new information.
  </p>
  <br /><br />

  <h2 class="headbig">The value of patient education can be summarized as follows:</h2>

    <ul>
      <li>  	<b>Improved understanding </b>of medical condition, diagnosis, disease, or disability. </li>
      <li>  	<b>Improved understanding </b>of methods and means to manage multiple aspects of medical condition. </li>
      <li>  	<b>Improved self-advocacy</b> in deciding to act both independently from medical providers and in interdependence with them.  </li>
      <li>  	<b>Increased Compliance</b> – Effective communication and patient education increases patient motivation to comply.  </li>
      <li>  	<b>Patient Outcomes</b> – Patients more likely to respond well to their treatment plan – fewer complications.  </li>
      <li>  	<b>Informed Consent</b> – Patients feel you've provided the information they need.  </li>
      <li>  	<b>Utilization</b> – More effective use of medical services – fewer unnecessary phone calls and visits.  </li>
      <li>  	<b>Satisfaction and referrals </b>– Patients more likely to stay with your practice and refer other patients   </li>
      <li>  	<b>Risk Management</b> – Lower risk of malpractice when patients have realistic expectations   </li>
    </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" >  Patient Education </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/patient education.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Patient education?</h2>
  <p class="mobcontent">
    <b>Patient education </b>is the process by which health professionals and others impart information to patients and
    their caregivers that will alter their health behaviors or improve their health status.

    <br><br>Education may be provided by any healthcare professional who has undertaken appropriate training education,
    education on patient communication and education is usually included in the healthcare professional's training.

    <br><br>Health education is also a tool used by managed care plans, and
    may include both general preventive education or health promotion and disease or condition specific education.
    <br><br>Important elements of patient education are skill building and responsibility: patients need to know when, how,
    and why they need to make a lifestyle change. Group effort is equally important:
    each member of the patient’s health care team needs to be involved.
    It can also help the patients by a better lifestyle, it give them the ability to learn new information.
  </p>
   <h2 class="submobheading">The value of patient education can be summarized as follows:</h2>
    <ul>
      <li>  	<b>Improved understanding </b>of medical condition, diagnosis, disease, or disability. </li>
      <li>  	<b>Improved understanding </b>of methods and means to manage multiple aspects of medical condition. </li>
      <li>  	<b>Improved self-advocacy</b> in deciding to act both independently from medical providers and in interdependence with them.  </li>
      <li>  	<b>Increased Compliance</b> – Effective communication and patient education increases patient motivation to comply.  </li>
      <li>  	<b>Patient Outcomes</b> – Patients more likely to respond well to their treatment plan – fewer complications.  </li>
      <li>  	<b>Informed Consent</b> – Patients feel you've provided the information they need.  </li>
      <li>  	<b>Utilization</b> – More effective use of medical services – fewer unnecessary phone calls and visits.  </li>
      <li>  	<b>Satisfaction and referrals </b>– Patients more likely to stay with your practice and refer other patients   </li>
      <li>  	<b>Risk Management</b> – Lower risk of malpractice when patients have realistic expectations   </li>
    </ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
