<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
    <h1 class="heading" > Dental Implants </h1>
  <section style="padding-top: 50px;">
    <img src="assets/Images/Treatment/DentalImplants.jpg" style="height: 300px; width: 600px;">
  </section>
  <section class="bigcontent">
    <h2 class="headbig">What Are Dental Implants?</h2>
    <p class="content">
      Dental implants are replacement tooth roots. Implants provide a strong
      foundation for fixed (permanent) or removable replacement teeth that are
      made to match your natural teeth
    </p>
    <br /><br />
    <h2 class="headbig">What Are the Advantages of Dental Implants?</h2>
   <p class="content"> There are many advantages to dental implants, including:</p>
    <ul class="content">
      <li>
        <b>Improved appearance</b>Dental implants look and feel like your own
        teeth. And because they are designed to fuse with bone, they become
        permanent
      </li>
      <li>
        <b>Improved speech</b>With poor-fitting dentures, the teeth can slip
        within the mouth causing you to mumble or slur your words. Dental
        implants allow you to speak without the worry that teeth might slip.
      </li>
      <li>
        <b>Improved comfort</b>Because they become part of you, implants
        eliminate the discomfort of removable dentures. • Easier eating. Sliding
        dentures can make chewing difficult. Dental implants function like your
        own teeth, allowing you to eat your favorite foods with confidence and
        without pain.
      </li>
      <li>
        <b>Improved self-esteem</b>. Dental implants can give you back your
        smile and help you feel better about yourself.
      </li>
      <li>
        <b>Improved</b> oral health. Dental implants don't require reducing
        other teeth, as a tooth-supported bridge does. Because nearby teeth are
        not altered to support the implant, more of your own teeth are left
        intact, improving long-term oral health. Individual implants also allow
        easier access between teeth, improving oral hygiene.
      </li>
      <li>
        <b>Durability</b> Implants are very durable and will last many years.
        With good care, many implants last a lifetime.
      </li>
      <li>
        <b>Convenience</b>Dental implants eliminate the embarrassing
        inconvenience of removing dentures, as well as the need for messy
        adhesives to keep them in place
      </li>
    </ul>
  </section>
  <section>
    <app-enquirybutton></app-enquirybutton>
  </section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
   <h1 class="mobheading" > Dental Implants </h1>
  <section fxLayoutAlign="center">
      <img src="assets/Images/Treatment/DentalImplants.jpg" style="height: 100%; width: 80%;">
  </section>
  <section class="mobcontent">
     <h2 class="submobheading">What Are Dental Implants?</h2>
    <p class="mobcontent">
       Dental implants are replacement tooth roots. Implants provide a strong
      foundation for fixed (permanent) or removable replacement teeth that are
      made to match your natural teeth
    </p>
     <h2 class="submobheading">What Are the Advantages of Dental Implants?</h2>
      <p class="mobcontent"> There are many advantages to dental implants, including:</p>
    <ul class="mobcontent">
      <li>
        <b>Improved appearance</b>Dental implants look and feel like your own
        teeth. And because they are designed to fuse with bone, they become
        permanent
      </li>
      <li>
        <b>Improved speech</b>With poor-fitting dentures, the teeth can slip
        within the mouth causing you to mumble or slur your words. Dental
        implants allow you to speak without the worry that teeth might slip.
      </li>
      <li>
        <b>Improved comfort</b>Because they become part of you, implants
        eliminate the discomfort of removable dentures. • Easier eating. Sliding
        dentures can make chewing difficult. Dental implants function like your
        own teeth, allowing you to eat your favorite foods with confidence and
        without pain.
      </li>
      <li>
        <b>Improved self-esteem</b>. Dental implants can give you back your
        smile and help you feel better about yourself.
      </li>
      <li>
        <b>Improved</b> oral health. Dental implants don't require reducing
        other teeth, as a tooth-supported bridge does. Because nearby teeth are
        not altered to support the implant, more of your own teeth are left
        intact, improving long-term oral health. Individual implants also allow
        easier access between teeth, improving oral hygiene.
      </li>
      <li>
        <b>Durability</b> Implants are very durable and will last many years.
        With good care, many implants last a lifetime.
      </li>
      <li>
        <b>Convenience</b>Dental implants eliminate the embarrassing
        inconvenience of removing dentures, as well as the need for messy
        adhesives to keep them in place
      </li>
    </ul>
  </section>
  <section>
    <app-enquirybutton></app-enquirybutton>
  </section>
  </div>
