<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Root Canal Treatment </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/root canal.jpg" style="height: 450px; width: 700px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Root Canal Treatment?</h2>
  <p class="content">
    Root canal treatment (also known as endodontic therapy, endodontic treatment, or root canal therapy)
    is a treatment sequence for the infected pulp of a tooth which is intended to result in the elimination of infection and
    the protection of the decontaminated tooth from future microbial invasion.
    <br>anendodontic who specializes in such treatment carefully removes the pulp inside the tooth, cleans, disinfects and
    shapes the root canals, and places a filling to seal the space.
  </p>
  <br /><br />

  <h2 class="headbig">What are the signs of needing a root canal?</h2>
 <p class="content"> There are a few symptoms that mean you might need a root canal—</p>
 <ul class="content">
  <li>    Severe pain while chewing or biting  </li>
  <li>    Pimples on the gums  </li>
  <li>    A chipped or cracked tooth  </li>
  <li>    Lingering sensitivity to hot or cold, even after the sensation has been removed  </li>
  <li>    Swollen or tender gums  </li>
  <li>    Deep decay or darkening of the gums  </li>

</ul>

  <h2 class="headbig">How does endodontic treatment save the tooth?</h2>
  <p class="content">
    The endodontist removes the inflamed or infected pulp, carefully cleans and shapes the inside of the root canal,
    then fills and seals the space. Afterward, you will return to your dentist,
    who will place a crown or other restoration on the tooth to protect and restore it to full function.
    After restoration, the tooth continues to function like any other tooth.
  </p>
  <br />

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Root Canal Treatment  </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/root canal.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Root Canal Treatment?</h2>
  <p class="mobcontent">
    Root canal treatment (also known as endodontic therapy, endodontic treatment, or root canal therapy)
    is a treatment sequence for the infected pulp of a tooth which is intended to result in the elimination of infection and
    the protection of the decontaminated tooth from future microbial invasion.
    <br>anendodontic who specializes in such treatment carefully removes the pulp inside the tooth, cleans, disinfects and
    shapes the root canals, and places a filling to seal the space.
  </p>
   <h2 class="submobheading">What are the signs of needing a root canal?</h2>
    <p class="mobcontent"> here are a few symptoms that mean you might need a root canal—</p>
        <ul class="content">
          <li>    Severe pain while chewing or biting  </li>
          <li>    Pimples on the gums  </li>
          <li>    A chipped or cracked tooth  </li>
          <li>    Lingering sensitivity to hot or cold, even after the sensation has been removed  </li>
          <li>    Swollen or tender gums  </li>
          <li>    Deep decay or darkening of the gums  </li>

        </ul>

      <h2 class="submobheading">How does endodontic treatment save the tooth?</h2>
    <p class="mobcontent">  The endodontist removes the inflamed or infected pulp, carefully cleans and shapes the inside of the root canal,
      then fills and seals the space. Afterward, you will return to your dentist,
      who will place a crown or other restoration on the tooth to protect and restore it to full function.
    </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
