<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
    Smile Designing
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\Smile Analysis.jpg"
   style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
   <b><u>smile designing</u></b> have become<i> key elements of orthodontic
     diagnosis and treatment planning over the last decade</i>. Recent
     advances in technology now permit the clinician to <i>measure
     dynamic lip-tooth relationships and incorporate that information
     into the orthodontic problem list and biomechanical plan</i>.<br><br>
     <b>Digital videography </b>is particularly useful in both smile
      analysis and in doctor/patient communication.
     <b> Smile design is a multifactorial process</b>,
     with clinical success
      determined by an understanding of the patient's soft-tissue
      treatment limitations and the extent to which orthodontics or
      multidisciplinary treatment can satisfy the patient's and
      orthodontist's esthetic goals.
  </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
 Smile Designing
    </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\Smile Analysis.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    <b><u>smile designing</u></b> have become<i> key elements of orthodontic
      diagnosis and treatment planning over the last decade</i>. Recent
      advances in technology now permit the clinician to <i>measure
      dynamic lip-tooth relationships and incorporate that information
      into the orthodontic problem list and biomechanical plan</i>.<br><br>
      <b>Digital videography </b>is particularly useful in both smile
       analysis and in doctor/patient communication.
      <b> Smile design is a multifactorial process</b>,
      with clinical success
       determined by an understanding of the patient's soft-tissue
       treatment limitations and the extent to which orthodontics or
       multidisciplinary treatment can satisfy the patient's and
       orthodontist's esthetic goals.
  </p>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
