<app-logo-image></app-logo-image>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" > Periodontics </h1>
<section style="padding-top: 50px;">
  <img src="assets/Images/Treatment/periodontics.jpg" style="height: 450px; width: 700px;">
</section>
<section class="bigcontent">
  <h2 class="headbig">What is a Periodontics?</h2>
  <p class="content">
    Periodontal disease is often silent, meaning symptoms may not appear until an advanced stage of the disease.
  </p>
  <br /><br />

  <h2 class="headbig">Warning signs of periodontal disease include the following:</h2>

 <ul class="content">
  <li>   Red, swollen or tender gums or other pain in your mouth  </li>
  <li>   Bleeding while brushing, flossing, or eating hard food  </li>
  <li>   Gums that are receding or pulling away from the teeth, causing the teeth to look longer than before  </li>
  <li>   Loose or separating teeth  </li>
  <li>   Pus between your gums and teeth </li>
  <li>   Sores in your mouth </li>
  <li>   Persistent bad breath </li>
  <li>   A change in the way your teeth fit together when you bite </li>
  <li>   A change in the fit of partial dentures </li>
</ul>


  <p class="content">
    <b>Periodontal (gum) diseases</b>, including gingivitis and periodontitis, are serious infections that,
    left untreated, can lead to tooth loss. Periodontal disease can affect one tooth or many teeth.
    The main cause of periodontal disease is bacterial plaque, a sticky, colorless film that constantly forms on your teeth.
  <br /><br>

  <h2 class="headbig">Factors like the following also affect the health of your gums:</h2>
 <ul class="content">
  <li>  Smoking/Tobacco Use  </li>
  <li>  Genetics </li>
  <li>  Puberty, Pregnancy and Menopause in Women  </li>
  <li>  Stress  </li>
  <li>  Medications </li>
  <li>  Clenching or Grinding Your Teeth</li>
  <li>  Poor Nutrition and Obesity </li>
</ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>



<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading" > Periodontics  </h1>
<section fxLayoutAlign="center">
    <img src="assets/Images/Treatment/periodontics.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">
   <h2 class="submobheading">What is a Periodontics?</h2>
  <p class="mobcontent">
    Periodontal disease is often silent, meaning symptoms may not appear until an advanced stage of the disease.
  </p>
   <h2 class="submobheading">Warning signs of periodontal disease include the following:</h2>

        <ul class="content">
          <li>   Red, swollen or tender gums or other pain in your mouth  </li>
          <li>   Bleeding while brushing, flossing, or eating hard food  </li>
          <li>   Gums that are receding or pulling away from the teeth, causing the teeth to look longer than before  </li>
          <li>   Loose or separating teeth  </li>
          <li>   Pus between your gums and teeth </li>
          <li>   Sores in your mouth </li>
          <li>   Persistent bad breath </li>
          <li>   A change in the way your teeth fit together when you bite </li>
          <li>   A change in the fit of partial dentures </li>
        </ul>
        <p class="mobcontent">
          <b>Periodontal (gum) diseases</b>, including gingivitis and periodontitis, are serious infections that,
          left untreated, can lead to tooth loss. Periodontal disease can affect one tooth or many teeth.
          The main cause of periodontal disease is bacterial plaque, a sticky, colorless film that constantly forms on your teeth.
        <br /><br>
    <h2 class="submobheading">Factors like the following also affect the health of your gums:</h2>
    <ul class="content">
      <li>  Smoking/Tobacco Use  </li>
      <li>  Genetics </li>
      <li>  Puberty, Pregnancy and Menopause in Women  </li>
      <li>  Stress  </li>
      <li>  Medications </li>
      <li>  Clenching or Grinding Your Teeth</li>
      <li>  Poor Nutrition and Obesity </li>
    </ul>

</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
