<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
 Invisalign
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\Invisalign.jpg"
   style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
   <b><u> Invisalign</u></b> is a type of orthodontic <i>treatment that helps to straighten
     teeth without the use of the typical metal braces</i>. Invisalign has
      quickly revolutionized the orthodontics world. Now patients have
      a different option besides ugly metal brackets. <i>Invisalign involves
       wearing a series of custom-made clear plastic aligners that help
       shift your teeth into the proper position</i>. Patients who would have
        never considered braces before are now giving Invisalign a shot.
  </p>

  <h2 class="headbig">Benefits of Invisalign:</h2>

  <p class="content">
    The use of Invisalign is an efficient method for tooth movements
    that are not too complicated. <i>A set of clear, computer-generated
    trays is ideally worn 24 hours a day with change-outs every two
    weeks</i>. There are certain trays that can last for six months to
    one year. However, these require some form of retention to prevent
     the teeth from shifting back.<br> <br>One of its best advantages is that
     <b>the trays are relatively invisible</b>, Hence the name Invisalign.
     Some people simply don’t want anyone to know they are wearing braces.
      They also provide help for people who wish to obtain straight teeth
      while still feeling comfortable in social situations.<i> Wearing
      Invisalign offers comfort because it does not affect your speech.</i><br><br>
  <i> Invisalign treatment can be expected to work more efficiently for
    esthetic purposes rather than for the purpose of improving the
     functionality of the teeth</i>. This is why many people, especially
     those who have complex dental problems, still prefer dental braces.

  </p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
 Invisalign
    </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\Invisalign.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    <b><u> Invisalign</u></b> is a type of orthodontic <i>treatment that helps to straighten
      teeth without the use of the typical metal braces</i>. Invisalign has
       quickly revolutionized the orthodontics world. Now patients have
       a different option besides ugly metal brackets. <i>Invisalign involves
        wearing a series of custom-made clear plastic aligners that help
        shift your teeth into the proper position</i>. Patients who would have
         never considered braces before are now giving Invisalign a shot.
   </p>
  <h2 class="submobheading">Benefits of Invisalign:</h2>

  <p class="mobcontent">
    The use of Invisalign is an efficient method for tooth movements
    that are not too complicated. <i>A set of clear, computer-generated
    trays is ideally worn 24 hours a day with change-outs every two
    weeks</i>. There are certain trays that can last for six months to
    one year. However, these require some form of retention to prevent
     the teeth from shifting back.<br> <br>One of its best advantages is that
     <b>the trays are relatively invisible</b>, Hence the name Invisalign.
     Some people simply don’t want anyone to know they are wearing braces.
      They also provide help for people who wish to obtain straight teeth
      while still feeling comfortable in social situations.<i> Wearing
      Invisalign offers comfort because it does not affect your speech.</i><br><br>
  <i> Invisalign treatment can be expected to work more efficiently for
    esthetic purposes rather than for the purpose of improving the
     functionality of the teeth</i>. This is why many people, especially
     those who have complex dental problems, still prefer dental braces.
  </p>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
