
.heading{
  font-family:cursive;
  font-size: 60px;
  padding: 30px;
}
mat-card{
width: 250px;
height: 600x;
}
.mobheading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 40px;
}
.mat-card-image{
  width: 282px;
  height: 200px;
}
.mobmat-card{
  width: 280px;
height: 600x;
}
.mobimg{
  width: 310px;
  height: 200px;
}
