<app-logo-image></app-logo-image>
<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center">Our Treatments</h1>

  <div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card>
          <mat-card-title>Cosmetic Dentistry</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\cosmetic-dentistry icon.jpg"
          />
          <br />
          <mat-card-content>
            If your teeth are stained, discolored, worn, chipped, broken,
            misaligned, misshapen, or have gaps between them, modern cosmetic
            dentistry can give you a better smile. A <b>“smile makeover”</b>...
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="CosmeticDentistry()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Crowns</mat-card-title>

          <img mat-card-image src="\assets\Images\service\service\crowns.png" />
          <br />
          <mat-card-content>
            A crown is basically a manufactured tooth. It’s generally made of
            porcelain or ceramic that can be color and texture-matched to your
            existing teeth. A crown can also be made of gold alloys.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="Crowns()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Dental Implant</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\dental-implant icon.jpg"
          />
          <br />
          <mat-card-content>
            A dental implant is a surgical component that interfaces with the
            bone of the jaw or skull to support a dental prosthesis such as a
            crown, bridge, denture, facial .......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="DentalImplant()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Dental Jewellry</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\dental jewellery.jpg"
          />
          <br />
          <mat-card-content>
            Tooth jewellery is a cosmetic dental procedure. in which diamond or
            any other stone is attached to. the tooth surface in order to gain
            the spark and to. look more fashionable........
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="DentalJewellry()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card>
          <mat-card-title>Tooth Colored Filling</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\filling.jpg"
          />
          <br />
          <mat-card-content>
            A <b>filling </b>
            <i
              >helps to restore a tooth damaged by decay back to its normal
              function and shape, and helps prevent further decay by eliminating
              areas where bacteria can enter the tooth</i
            >.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="ToothColoredFilling()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Full Mouth Reconstruction</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\full mouth.jpg"
          />
          <br />
          <mat-card-content>
            <b>Full mouth reconstruction</b>
            <i>
              refers to rebuilding and/or replacing all of the teeth in a
              patient’s mouth</i
            >. Full mouth reconstructions .......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="FullMouthReconstruction()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Impacted Teeth Removal</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\impacted teeth removal.jpg"
          />
          <br />
          <mat-card-content>
            While sometimes the teeth grow into a jaw that is large enough to
            accommodate them, most people do not have ample room for .......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="ImpactedTeethRemoval()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Invisalign</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\invisalign.jpg"
          />
          <br />
          <mat-card-content>
            <b><u> Invisalign</u></b> is a type of orthodontic
            <i
              >treatment that helps to straighten teeth without the use of the
              typical metal braces</i
            >. Invisalign has quickly revolutionized the orthodontics........
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="Invisalign()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card>
          <mat-card-title>Orthodontics</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\orthodontics.jpg"
          />
          <br />
          <mat-card-content>
            <b>Orthodontics</b> is the branch of dentistry that corrects teeth
            and jaws that are positioned improperly. Crooked teeth and teeth
            that do not fit together correctly are harder ......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="Orthodontics()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Patient Education</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\Patient Education.jpg"
          />
          <br />
          <mat-card-content>
            <b>Patient education </b>is the process by which health
            professionals and others impart information to patients and their
            caregivers that will alter their health behaviors or improve .......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="PatientEducation()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Pediatric Dentistry</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\pediatric dentistry.jpg"
          />
          <br />
          <mat-card-content>
            <b>Pediatric dentists </b> are dedicated to the oral health of
            children from infancy through the teen years. They have the
            experience and qualifications to care for a child’s teeth,.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="PediatricDentistry()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Periodontist</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\periodontist.jpg"
          />
          <br />
          <mat-card-content>
            Periodontology or periodontics is the specialty of dentistry that
            studies supporting structures of teeth, as well as diseases and
            conditions that affect them.........
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="Periodontist()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card>
          <mat-card-title>Root Canal</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\Root Canal.jpg"
          />
          <br />
          <mat-card-content>
            Root canal treatment (also known as endodontic therapy, endodontic
            treatment, or root canal therapy) is a treatment sequence for the
            infected pulp of a tooth.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="RootCanal()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Smile Designing</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\smile analysis.jpg"
          />
          <br />
          <mat-card-content>
            <b><u>smile designing</u></b> have become<i>
              key elements of orthodontic diagnosis and treatment planning over
              the last decade</i
            >. Recent advances in technology now permit the clinician.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="SmileDesigning()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Tooth Bleaching</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\tooth bleaching.jpg"
          />
          <br />
          <mat-card-content>
            The process of <b>tooth whitening</b>
            <i> lightens the colour of a tooth.</i>
            Tooth whitening can be achieved by either changing the intrinsic
            colour or by removing and controlling ......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="ToothBleaching()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Veneers</mat-card-title>

          <img
            mat-card-image
            src="\assets\Images\service\service\veneers.jpg"
          />
          <br />
          <mat-card-content>
            <b><u> Dental veneers</u></b> (<i
              >sometimes called porcelain veneers or dental porcelain
              laminates</i
            >) are wafer-thin, custom-made shells of tooth-colored materials
            designed to.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="Veneers()">Read More</button>
            <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
  </div>
</div>

<div fxHide.gt-md>
  <section>
    <h1 class="mobheading">Our Treatments</h1>
  </section>
  <section>
    <div fxFlex="column" fxLayoutAlign="center">
      <div>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Cosmetic Dentistry</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\cosmetic-dentistry icon.jpg"
            />
            <br />
            <mat-card-content>
              If your teeth are stained, discolored, worn, chipped, broken,
              misaligned, misshapen, or have gaps between them, modern cosmetic
              dentistry can give you a better smile. A
              <b>“smile makeover”</b>...
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="CosmeticDentistry()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Crowns</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\crowns.png"
            />
            <br />
            <mat-card-content>
              A crown is basically a manufactured tooth. It’s generally made of
              porcelain or ceramic that can be color and texture-matched to your
              existing teeth. A crown can also be made of gold alloys.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="Crowns()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Dental Implant</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\dental-implant icon.jpg"
            />
            <br />
            <mat-card-content>
              A dental implant is a surgical component that interfaces with the
              bone of the jaw or skull to support a dental prosthesis such as a
              crown, bridge, denture, facial .......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="DentalImplant()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Dental Jewellry</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\dental jewellery.jpg"
            />
            <br />
            <mat-card-content>
              Tooth jewellery is a cosmetic dental procedure. in which diamond
              or any other stone is attached to. the tooth surface in order to
              gain the spark and to. look more fashionable........
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="DentalJewellry()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Tooth Colored Filling</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\filling.jpg"
            />
            <br />
            <mat-card-content>
              A <b>filling </b>
              <i
                >helps to restore a tooth damaged by decay back to its normal
                function and shape, and helps prevent further decay by
                eliminating areas where bacteria can enter the tooth</i
              >.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="ToothColoredFilling()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Full Mouth Reconstruction</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\full mouth.jpg"
            />
            <br />
            <mat-card-content>
              <b>Full mouth reconstruction</b>
              <i>
                refers to rebuilding and/or replacing all of the teeth in a
                patient’s mouth</i
              >. Full mouth reconstructions .......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="FullMouthReconstruction()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Impacted Teeth Removal</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\impacted teeth removal.jpg"
            />
            <br />
            <mat-card-content>
              While sometimes the teeth grow into a jaw that is large enough to
              accommodate them, most people do not have ample room for .......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="ImpactedTeethRemoval()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Invisalign</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\invisalign.jpg"
            />
            <br />
            <mat-card-content>
              <b><u> Invisalign</u></b> is a type of orthodontic
              <i
                >treatment that helps to straighten teeth without the use of the
                typical metal braces</i
              >. Invisalign has quickly revolutionized the orthodontics........
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="Invisalign()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Orthodontics</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\orthodontics.jpg"
            />
            <br />
            <mat-card-content>
              <b>Orthodontics</b> is the branch of dentistry that corrects teeth
              and jaws that are positioned improperly. Crooked teeth and teeth
              that do not fit together correctly are harder ......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="Orthodontics()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Patient Education</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\Patient Education.jpg"
            />
            <br />
            <mat-card-content>
              <b>Patient education </b>is the process by which health
              professionals and others impart information to patients and their
              caregivers that will alter their health behaviors or improve
              .......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="PatientEducation()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Pediatric Dentistry</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\pediatric dentistry.jpg"
            />
            <br />
            <mat-card-content>
              <b>Pediatric dentists </b> are dedicated to the oral health of
              children from infancy through the teen years. They have the
              experience and qualifications to care for a child’s teeth,.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="PediatricDentistry()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Periodontist</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\periodontist.jpg"
            />
            <br />
            <mat-card-content>
              Periodontology or periodontics is the specialty of dentistry that
              studies supporting structures of teeth, as well as diseases and
              conditions that affect them.........
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="Periodontist()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Root Canal</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\Root Canal.jpg"
            />
            <br />
            <mat-card-content>
              Root canal treatment (also known as endodontic therapy, endodontic
              treatment, or root canal therapy) is a treatment sequence for the
              infected pulp of a tooth.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="RootCanal()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Smile Designing</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\smile analysis.jpg"
            />
            <br />
            <mat-card-content>
              <b><u>smile designing</u></b> have become<i>
                key elements of orthodontic diagnosis and treatment planning
                over the last decade</i
              >. Recent advances in technology now permit the clinician.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="SmileDesigning()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Tooth Bleaching</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\tooth bleaching.jpg"
            />
            <br />
            <mat-card-content>
              The process of <b>tooth whitening</b>
              <i> lightens the colour of a tooth.</i>
              Tooth whitening can be achieved by either changing the intrinsic
              colour or by removing and controlling ......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="ToothBleaching()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobmat-card">
            <mat-card-title>Veneers</mat-card-title>

            <img
              class="mobimg"
              mat-card-image
              src="\assets\Images\service\service\veneers.jpg"
            />
            <br />
            <mat-card-content>
              <b><u> Dental veneers</u></b> (<i
                >sometimes called porcelain veneers or dental porcelain
                laminates</i
              >) are wafer-thin, custom-made shells of tooth-colored materials
              designed to.......
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="Veneers()">Read More</button>
              <app-enquirybutton style="padding-left: 5px;"></app-enquirybutton>
            </mat-card-actions>
          </mat-card>
        </section>
      </div>
    </div>
  </section>
</div>
