<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading" >
    Porcelain Laminate Veneers
    </h1>
<section style="padding-top: 50px;">
  <img src="\assets\Images\Treatment\Porcelain Laminate Veneer.jpg"
   style="height: 300px; width: 600px;">
</section>
<section class="bigcontent">
  <p class="content">
   <b><u> Dental veneers</u></b> (<i>sometimes called porcelain veneers or
   dental porcelain laminates</i>) are wafer-thin, custom-made shells of
   tooth-colored materials designed to cover the front surface of teeth
    to improve your appearance. These shells <i>are bonded to the front of
    the teeth changing their color, shape, size, or length</i>.
  </p>

  <h2 class="headbig"> What Types of Problems Do Dental Veneers Fix?</h2>

  <p class="content"> Veneers are routinely used to fix:</p>

  <p class="content"><b> Teeth that are discolored </b>--
    either<i> because of root canal
     treatment; stains from tetracycline or other drugs, excessive fluoride or
      other causes; or the presence of large resin fillings that have
       discolored the tooth.</i></p>
  <ul class="content">
    <li>
      	Teeth that are worn down
    </li><br>
    <li>
      Teeth that are chipped or broken
    </li><br>
    <li>
      Teeth that are misaligned, uneven, or irregularly shaped (for example, have craters or bulges in them)
    </li><br>
    <li>
    Teeth with gaps between them (to close the space between these teeth)
    </li>

  </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
<!--   Mobile View-->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center">
 <h1 class="mobheading">
  Porcelain Laminate
  </h1>
  <h1 style="line-height: 1px;padding-bottom: 40px;" class="mobheading" >
    Veneers
    </h1>
<section fxLayoutAlign="center">
    <img src="\assets\Images\Treatment\Porcelain Laminate Veneer.jpg" style="height: 100%; width: 80%;">
</section>
<section class="mobcontent">

  <p class="mobcontent">
    <b><u> Dental veneers</u></b> (<i>sometimes called porcelain veneers or
      dental porcelain laminates</i>) are wafer-thin, custom-made shells of
      tooth-colored materials designed to cover the front surface of teeth
       to improve your appearance. These shells <i>are bonded to the front of
       the teeth changing their color, shape, size, or length</i>.
     </p>
  <h2 class="submobheading"> What Types of Problems Do Dental Veneers Fix?</h2>
  <p class="mobcontent"> Veneers are routinely used to fix:</p>

  <p class="mobcontent"><b> Teeth that are discolored </b>--
    either<i> because of root canal
     treatment; stains from tetracycline or other drugs, excessive fluoride or
      other causes; or the presence of large resin fillings that have
       discolored the tooth.</i></p>

  <ul class="mobcontent">
    <li>
      Teeth that are worn down
  </li><br>
  <li>
    Teeth that are chipped or broken
  </li><br>
  <li>
    Teeth that are misaligned, uneven, or irregularly shaped (for example, have craters or bulges in them)
  </li><br>
  <li>
  Teeth with gaps between them (to close the space between these teeth)
  </li>
  </ul>
</section>
<section>
  <app-enquirybutton></app-enquirybutton>
</section>
</div>
